body {
    font-family: Arial, sans-serif;
    background-color: #00B9F1; /* Process Cyan header background */
    margin: 0;
    padding: 0;
 }
 
 header {
 
    background-color: #002E6E; /* Dark Midnight Blue background */
    color: #eee5e5e4;
    text-align: center;
    padding: 20px 0;
 }
 
 header h1 {
    font-size: 26px;
 }
 
 main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
 }
 
 .container,  #forgot-password-modal {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
 }
 
a, h2 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #00AAFF; /* Blue Bolt color */
 }
 a:hover{
   font-size: 20px;
   margin-bottom: 20px;
   color: #1bd93b; /* Blue Bolt color */
 }
 .form-group {
    margin-bottom: 10px;
    width: 100%;
 }
 
 label {
    font-weight: bold;
    display: block;
    color: #333;
 }
 
 input[type="text"],
 input[type="email"],
 input[type="password"],
 input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
 }
 
 button {
    padding: 10px 20px;
    background-color: #0991FF; /* Azure color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
 }
 .btn-signup-toggle{
 width: 150px;
 }
 
 .btn-signup-toggle:hover,
 .btn-signin:hover,
 .btn-signup:hover {
    background-color: #00B9F1; /* Process Cyan color on hover */
 }
/* 
 #forgot-password-modal {
   position: fixed;
   top: 160px;
   left: 400px;
   width: 300px;
   height: 50%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 100;
 } */

 /* Add this to your existing CSS file */
 .isPremium ,.dashboard{
   padding: 10px 20px;
   background-color: #f6d418; /* Blue Bolt color */
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   width: 20%;
   position: absolute;
   top: 75%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 
 .isPremium:hover {
    background-color: #0991FF; /* Azure color on hover */
 }
 
  
 
 .custom-list {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 h2 {
    color: #2255FF;
 }
 .custom-list li {
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #2255FF; /* Use the desired background color */
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
 }
 
 .custom-list li::before {
    content: "\2022"; /* Use a bullet point character as a list item marker */
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
 }
  
 /* Footer */
 footer {
    text-align: center;
    background-color: #2255FF; /* Process Cyan header background     background-color: #007b5e;*/
    color: #fff;
    padding: 20px;
    margin-top: 100px;
 }
 
 footer a {
    text-decoration: none;
    color: #fff;
 }
 
 footer ul {
    padding: 0;
    list-style: none;
 }
 
 footer ul li {
    display: inline;
    margin: 0 10px;
 }
 
 footer p {
    margin-top: 10px;
    font-size: 14px;
 }
 